<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title Here</title>
        <!--Link for styles-->
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/my_styles.css') }}">
</head>
<body>
        <!--This is the Header-->
    <div class="search-header">
        <div class="search">
          <form action="#">
              <input type="text" placeholder="Search Products..." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
      <div class="nav-header">
        <div class="logo">
          <img src="../static/images/homepage/logo.png" alt="Logo">
        </div>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="Tiles.html">Tiles</a></li>
          <li><a href="Doors.html">Doors</a></li>
          <li><a href="Roofsheet.html">Roofing Sheets</a></li>
          <li><a href="Contact.html">Contact</a></li>
          <li><a  class="active" href="About.html">About</a></li>
          <li class="cart"><a href="cart.html"><img src="image/cart.png" alt="Cart"></a></li>
          <li class="cart"><a href="account.html"><img src="../static/images/homepage/download.png" alt="About"></a></li>
        </ul>
      </div>
		
      <section id="newsletter">
        <div class="newstext">
            <h4>Sign up for Newsletter</h4>
            <p>Get e-mail updates about our latest shop and <span>special offers</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign up</button>
        </div>
    </section>
    
    <footer>
        <div class="col Logo">
            <img src="Image/logo.png" alt="" width="120px" height="70px">
            <h4>Contact</h4>
            <p><strong>Address: </strong>No 27, Chris Madueke Street, Lekki Phase1, Lagos</p>
            <p><strong>Phone: </strong>+234 7064154581</p>
            <p><strong>Hours: </strong>Monday to Fridy (8am - 6pm)</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-tiktok"></i>
                </div>
            </div>
        </div>
        
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy policy</a>
            <a href="#">Terms and Conditions</a>
            <a href="#">Contact us</a>
        </div>
            
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign in</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track my order</a>
            <a href="#">Help</a>
        </div>
        
        <div class="col install">
            <h4>Install App</h4>
            <p>From App store or google store</p>
            <div class="row">
                <a href="#"><img src="../static/images/footer-images/playstore.png" alt="" width="150px" height="100px"></a>
                <a href="#"><img src="../static/images/footer-images/appstore.png" alt="" width="150px" height="100px"></a>
            </div>
            <p>Secured Payment Gateways</p>
            <img src="../static/images/footer-images/secured-payment.png" alt="">
        </div>
    
        <div class="copyright">
            <p>&#169 Dray Fingerfoods & Grills. 2024</p>
        </div>
    </footer>
    
    
    </body>
    </html>
    

